body {
    margin: 0;

    color: #333;
    line-height: 1.6;  font-family: "Nunito", sans-serif;
    
  
}
.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}